
div > nav > a.font-medium {
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight:700;
}

@keyframes cursor-blink {
  0% {opacity: 0}
  45%{opacity: 0}
  50% {opacity: 1}
  95% {opacity: 1}
  100% {opacity: 0}
}

div > nav > a.font-medium::after {
  content: "\00a0";
  width: 10px;
  height: 20px;
  margin: 8px;
  background: rgba(var(--color-primary-800));
  display: inline-block;

  animation: cursor-blink 1.5s steps(20) infinite;
}

html.dark div > nav > a.font-medium::after {
  background: rgba(var(--color-primary-200));
}

@media (prefers-reduced-motion) {
  div > nav > a.font-medium::after {
    animation: none
  }
}



@media screen and (min-width: 0px) {
    .customEntitityLogo {
        background-color: aliceblue;
        position: relative;
        min-width: 60px;
        width: 60px;
        height: 60px;
        margin: 0px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        object-fit: contain;
        border-radius: 4%;
    }

}

@media screen and (min-width: 700px) {
    .customEntitityLogo {
        background-color: aliceblue;
        position: relative;
        min-width: 80px;
        width: 80px;
        height: 80px;
        margin: 0px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 8px;
        object-fit: contain;
        border-radius: 4%;
    }
}

@media screen and (min-width: 1250px) {
    .customEntitityLogo {
        background-color: aliceblue;
        position: relative;
        min-width: 100px;
        width: 100px;
        height: 100px;
        margin: 0px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 8px;
        object-fit: contain;
        border-radius: 4%;
    }
}

td {
    vertical-align: middle !important;
}